.deps/
.libs/
Makefile
Makefile.in
acinclude.m4
aclocal.m4
autom4te.cache/
build/
src/
configure
config.guess
config.log
config.status
config.sub
depcomp
install-sh
ltmain.sh
compile
missing
libtool
*Interfaces*.jar
*Interfaces.pc
*.o
*.lo
*.la
*.pc

